body {
    background-image: url('background-992850.png');
    text-align: center; 
    color: white;
    font-family: cursive;
    
}

#contentBox {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color: rgba(127, 255, 212,.4);
    height: auto;
    width: 90%;
    box-shadow: 0 1px 5px 5px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.header {
    position: relative;
    top: -20px;
    background-color: rgba(0, 0, 0, .7);
    padding: 20px;
    width: 400px;
    margin: 20px auto 10px auto;
    
}

#gifContainer {
    margin: auto;
    height: 340px;
    width: 500px;
    background: rgb(58, 46, 46);
}

.box {
    height: 300px;
    width: 300px;
    transform: translate(-2%, 10%);
    border-radius: 15px;
}

input, select, button {
    padding: 10px;
    font-family: cursive;
    color: #58646d;
    border: none;
    font-weight: bold;
    cursor: text;
    /* outline: none; */
    border-radius: 2px; 
    margin-bottom: 15px;
}  

select {
    border-radius: 20px;
    background-color: blue;
    color: white;
    outline: none;
    cursor: pointer;
}

select:hover {
    background-color: darkblue;
}

.pointer, .btn {
    cursor: pointer;
}

.btn:hover, button:hover {
    color: white;
    background-color: blueviolet;
}

.icon {
    color: aliceblue;
}

.errModal {
    padding: 20px;
    border-radius: 50px;
    font-size: 1.2em;
}

.srhColor {
    display: inline-block;
    color: rgba(31, 13, 13, 0.781);
    background-color: yellow;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

.spa {
    color: white;
    margin-top: 10px;
    display: inline-block; 
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
}
